extends layout

block content
  .row.justify-content-around
    .col-sm-12
      h1.text-center.text-justify Con Cuba-Travel tienes la mejor experiencia en tu visita a Cuba.
        strong  Donde no tienes que pagar hasta que arrives a la isla.
        br
        | Descubre los diferentes paquetes que tenemos para ti...

    .col-sm-12
      br
      br
      h3.text-center Placentera Diversión
    .col-sm-6.col-md-4.col-lg-3.mt-5
      .card#casas(style:'width:18rem;')
        img.card-img-top#casas-img(src='/images/diversion/comida.jpg')
        .card-body
          h5.card-title Restaurantes
          p.card-text Disfruta del mejor gourmet, sabor y exotica gastronomía de esta hermosa Isla.
          a.btn.btn-primary(href='#') Reserva Ahora
    .col-sm-6.col-md-4.col-lg-3.mt-5
      .card#casas(style:'width:18rem;')
        img.card-img-top#casas-img(src='/images/diversion/bar.jpg')
        .card-body
          h5.card-title Centros nocturnos
          p.card-text Conoce los diferentes centros donde pasaras divertidos momentos, bailes y muchas cosas más...
          a.btn.btn-primary(href='#') Reserva Ahora
    .col-sm-6.col-md-4.col-lg-3.mt-5
      .card#casas(style:'width:18rem;')
        img.card-img-top#casas-img(src='/images/diversion/playa.jpg')
        .card-body
          h5.card-title Playas
          p.card-text Relájate y diviertete a lo grande en las extensas playas que tiene Cuba para ti.
          a.btn.btn-primary(href='#') Reserva Ahora
    .col-sm-6.col-md-4.col-lg-3.mt-5
      .card#casas(style:'width:18rem;')
        img.card-img-top#casas-img(src='/images/diversion/paseo.jpg')
        .card-body
          h5.card-title Paseos
          p.card-text No te quedes con las ganas de recorrer la Isla, conoceras su historia que ha trascendido a lo largo de este tiempo.
          a.btn.btn-primary(href='#') Reserva Ahora
    .col-sm-1.align-self-center.mt-5
      a.btn.btn-success(href='#') Ver más

    .col-sm-12
      br
      br
      h3.text-center La mejor estadía en Cuba
    .col-sm-6.col-md-4.col-lg-3.mt-5
      .card#casas(style:'width:18rem;')
        img.card-img-top#casas-img(src='/images/casas/casas1.jpg')
        .card-body
          h5.card-title Casa Rústica
          p.card-text Hermosa Casa Rústica cerca del centro de la ciudad, cuenta con todas las comodidades y con todos los accesos necesarios para una excelente estadía.
          a.btn.btn-primary(href='#') Reserva Ahora
    .col-sm-6.col-md-4.col-lg-3.mt-5
      .card#casas(style:'width:18rem;')
        img.card-img-top#casas-img(src='/images/casas/casas2.jpg')
        .card-body
          h5.card-title Casa 2 plantas
          p.card-text Casa con varias habitaciones con gran espacio interior y exterior. Magnifica para reuniones y eventos personales.
          a.btn.btn-primary(href='#') Reserva Ahora
    .col-sm-6.col-md-4.col-lg-3.mt-5
      .card#casas(style:'width:18rem;')
        img.card-img-top#casas-img(src='/images/casas/casas3.jpg')
        .card-body
          h5.card-title Departamento cerca de la playa
          p.card-text Bello departamento con piscina, a unos pasos de la playa. Excelente para fiestas, diversión, relajación y muchas cosas más...
          a.btn.btn-primary(href='#') Reserva Ahora
    .col-sm-6.col-md-4.col-lg-3.mt-5
      .card#casas(style:'width:18rem;')
        img.card-img-top#casas-img(src='/images/casas/casas4.jpg')
        .card-body
          h5.card-title Departamento en el centro de la ciudad.
          p.card-text Estadía en el centro de la Habana Cuba. Donde muy cerca podras deleitarte de las maravillas, culturas, costumbres y muchas cosas más aguardan en este lugar.
          a.btn.btn-primary(href='#') Reserva Ahora
    .col-sm-1.align-self-center.mt-5
      a.btn.btn-success(href='#') Ver más
          

