extends layout

block content
  .row.justify-content-center
    .col-sm-12.col-md-8.col-lg-10.mt-5
      .card.text-center
        .card-header Cuba-Travel
        .card-body
          h5.card-title Disfruta de la mejor experiencia Cubana con nosotros
          p.card-text Aprovecha las diferentes opciones que tenemos para ti, contamos con diferentes paquetes que se acomodan a tus necesidades.
          a.btn.btn-primary(href='#') Reserva Ahora!    

