extends layout

block packs

  .row.justify-content-center
    .col-6.mt-5
      h1.text-center Escoge el paquete que mas te agrade.
      br
      br
      form
        .form-group
          label(for='inputPack') Paquete todo Incluido
          img.img-fluid(src='/images/paquetes/todoIncluido.png', alt='todo_incluido')