@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  font-family:'Oswald', sans-serif !important;
  /*background: url('../images/background_3.jpg');*/
  background-size: 100% auto;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  color:#ffff!important;
}

#casas {
  background:rgba(0,0,0,0.3);
  color:#fff;
}

#casas-img {
  max-width:410px;
  max-height:215px;
}

#casas p {
  text-align: justify;
}
